# Add files here to ignore them from prettier formatting

/dist
/coverage
/apps/example-chat-app-with-tanstack-query/src/prisma/seed-data.json
/apps/example-chat-app-with-tanstack-query/src/prisma/client
.next
.docusaurus
pnpm-lock.yaml
