# Add files here to ignore them from prettier formatting

/dist
/coverage
/apps/typical-chat-app-with-react-query/src/prisma/seed-data.json
/apps/typical-chat-app-with-react-query/src/prisma/client
.next
.docusaurus
pnpm-lock.yaml
